<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clear player answers</title>
</head>
<script>
    function toggleAllCheckboxes() {
        var inputs = document.querySelectorAll("td input[type='checkbox']");
        for(var i = 0; i < inputs.length; i++) {
            inputs[i].checked = !inputs[i].checked;
        }
    }
</script>
<body>
    <div>
        <a href="/admin">Main admin page</a>
    </div>
    <form method="POST">
        <table cellpadding="5">
            <tr>
                <th><input type="checkbox" onclick="toggleAllCheckboxes(); return true;"/></th>
                <th>Place</th>
                <th>Name</th>
                <th>Score</th>
                <th>Tries</th>
                <th>Hints</th>
                <th>Latest answer time</th>
            </tr>
            {% for player in top %}
            <tr>
                <td><input type="checkbox" name="player_id" value="{{ player[1].player_id }}"/></td>
                <td>{{ player[0] }}</td>
                <td>{{ player[1].player_name }}</td>
                <td>{{ player[2] }} pts</td>
                <td>{{ player[3] }} tries</td>
                <td>{{ player[4] }} hints</td>
                <td>{{ player[5] }}</td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Clear answers">
    </form>
</body>
</html>
